<footer class="footer navbar-fixed-bottom">
    <div class="container">


    <!--同一行的不同排列-->
    <ul class="list-unstyled list-inline">
        <li><a href="https://github.com/cststudio/cststudio.github.io" target=_blank >本站源码仓库</a></li>
        <li><a href="http://www.latelee.org/" target=_blank >李迟技术主页</a></li>
    </ul>

        <p class="text-center">
            Copyright &copy; <a href="https://www.cststudio.com.cn/" >{{ site.title }}</a> 2017-{{ site.time | date: '%Y' }} &nbsp; &nbsp;

            <a href="http://www.miitbeian.gov.cn/" rel="external nofollow"  target=_blank> 桂ICP备10003672号-2</a>&nbsp; |&nbsp;

            <script src="https://s13.cnzz.com/z_stat.php?id=1273965306&web_id=1273965306" language="JavaScript"></script>

            </br>

            本站所有内容，版权所有 </br>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>