<footer class="footer ">
  <div class="container">
    <div class="row footer-top">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>github：<a href="https://github.com/cststudio/" target=_blank>迟思堂工作室</a></li>
          <li>淘宝店：<a href="https://shop243991695.taobao.com/" target=_blank>李迟的软件百宝箱</a></li>
          <li>邮&nbsp;&nbsp;箱：<a href="mailto:li@latelee.org" target=_blank>li@latelee.org</a></li>
        </ul>
      </div>
      <div class="col-md-3  text-center">
        <img src="/img/qq.jpg"  class="img-responsive center-block" />
        QQ扫一扫：2378410766(李迟)
      </div>
      <div class="col-md-3  text-center">
        <img src="/img/weixin.png"  class="img-responsive center-block" />
        微信扫一扫：fly_camel_fly
      </div>
      
      <div class="col-md-3">
        认认真真、踏踏实实做事，细致严谨。<br>
        所有的苦逼都离不开傻逼般的坚持。
      </div>
    </div>

    <!--再底部-->
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
          <li><a href="/" title="网站地图">网站地图</a></li>
          <li>|</li>
          <li><a href="/" title="版权所有">版权所有</a></li>
          <li>|</li>
          <li><a href="/" title="联系方式">联系方式</a></li>
          <li>|</li>
          <li><a href="/" title="RSS订阅" class="f_rss">RSS订阅</a></li>
      </ul>
    
      <ul class="list-inline text-center">
        <li>Copyright &copy; <a href="https://www.cststudio.com.cn/" >{{ site.title }}</a> 2017-{{ site.time | date: '%Y' }} All Rights Reserved.</li>
        <li><a href="http://www.miitbeian.gov.cn/" rel="external nofollow"  target=_blank> 桂ICP备10003672号-2</a></li>
        <li><script src="https://s13.cnzz.com/z_stat.php?id=1273965306&web_id=1273965306" language="JavaScript"></script></li>
      </ul>
    </div>
  </div>
</footer>
