<footer class="footer">
    <div class="container">

        <p>
        <a href="http://www.latelee.org/" target=_blank >李迟技术主页</a>&nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="https://www.lidachui.cn/" target=_blank >李大锤个人主页</a>
        </p>
        
        <p>
        github：<a href="https://github.com/cststudio/" target=_blank>https://github.com/cststudio/</a> <br>
        淘宝店：<a href="https://shop243991695.taobao.com/" target=_blank>https://shop243991695.taobao.com/</a> <br>
        邮箱：li@latelee.org <br>
        QQ：2378410766(李迟) <br>
        微信：fly_camel_fly <br>
        </p>
        <p class="text-center">
            Copyright &copy; <a href="https://www.cststudio.com.cn/" >{{ site.title }}</a> 2017-{{ site.time | date: '%Y' }} </br>
        本站所有内容，版权所有 </br>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
       
        
    </div>
        
</footer>
